[user]
	name = m7tkr
	email = m7tkr.mdn@gmail.com
[alias]
	log-pretty = log --pretty=oneline --abbrev-commit
    show-graph = log --pretty=oneline --abbrev-commit --graph --all
    co = checkout
    br = show-branch -a
    ci = commit
    cim = commit -m
    st = status
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = vim
[sequence]
	editor = vim
